<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h3>Contents</h3>
        <ul>
            
            <li><a href='/dinosaurs'>Dino Main</a></li>
            <li><a href='/dinosaurs/new'>New Dino</a></li>
            <li><a href='/dinosaurs/1'>Show Dino</a></li>
        </ul>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/prehistoric_creatures/'>Prehistoric Creatures</a></li>
            <li><a href='/prehistoric_creatures/1'>Show Creature</a></li>
            <li><a href='/prehistoric_creatures/new'>Add a Creature</a></li>
            
        </ul>
    </nav>

    <%- body %> 
</body>
</html>