<h1> Add a New Prehistoric Creature </h1>

<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type: </label>
    <input type="text" name="type" id="creatureType">
    <br><br>
    <label for="creatureUrl">Image URL: </label>
    <input type="text" name="Url" id="creatureUrl">
    <br><br>
    <input type="submit">
</form>